*{margin: 0;}
.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #BCDDFF;
    height: 98vh;
    width: 100%;
    box-sizing: border-box;
}
.card{
    border-radius: 15px;
    padding:10px;
    width:23vw;
    height: 60vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    img{
        border-radius: 15px;
        width:95% ;
        height: 60%;
    }
    .txt-container{
        margin: 25px 0;
        text-align: center;
        font-family: sans-serif;
        h3{
            font-size: 22px;
        }
        p{
            font-weight: 400;
            color: #ccc;
        }
    }
}

@media only screen and (max-width: 768px) {
    .card{
        width: 90vw;
        height: 60vh;
    }
}